body {
	background-color: #515151;
}

p {
	font-size: 24px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 64px;
}

img {
	width: 400px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-radius: 25px;
	border-width: 5px;
}

.container > * {
	display: inline-block;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
